@charset "utf-8";
@import "normalize";

body {
  background: #ECC561;
  text-align: left;
  margin: 5em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

h1 {
  color: rgba(0,0,0,0.5);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

h3 {
  margin-top: 20px;
  border-bottom: 1px solid black;
  padding: 0 0 10px;
}

p {
  margin: 0.5em 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;
}

a {
  border-radius: 3px;
  color: white;
  text-decoration: none;
  transition: color 0.1s linear;
  &:hover {
    background: rgba(0,0,0,0.2);
    color: white;
    transition: all 0.15s linear;
  }
}